.icon-content {
    background: #673ab7;
    color: white;
    height: 100vh;
    font-family: roboto;
    font-size: 3em;
}

.example-form {
    padding: 10px;
}

.example-full-width {
    width: 100%;
}

button {
    font-size: 1.1em;
    padding: 0px 100px;
}

.text-red {
    font-family: roboto;
    font-size: .8em;
    color: red;
    text-align: left;
    padding: 5px;
    position: relative;
    animation: show-alert .5s ;
  
}
.relleno{
    height: 24px;
    width: 100%;
}

@keyframes show-alert {
    from {
       transform: translateY(-10px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}